@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff7ed;
}
@keyframes slowZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}